.container {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    background: linear-gradient(#bd09b7, #6b4cf5);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(208, 246, 56);
  }
  
  form {
    color: white;
    margin-bottom: 50px;

  }
  
  h1 {
    text-align: center;
  }
  
  label, input, textarea {
    display: block;
    width: 100%;
    padding: 7px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
  }
  
  button {
    padding: 5px 15px;
    background-color: white;
    color: #6b4cf5;
    border: none;
    border-radius: 5px;
    float: right;
  }
  
  @media (max-width: 500px) {
    .container {
      width: 100%;
      max-width: none;
    }
  }
  